*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.padre{
    border:2px solid rgb(174, 0, 255);
    border-radius: 14px;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
 
}
.barra{
    border: rgb(225, 97, 6) 4px solid;
    border-radius: 6px;
    /* background-color: rgb(28, 38, 221); */
    background-color: black;
    height: 15%;
    width: 100%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-evenly;
    font-family:Verdana;
    /* flex-direction:column-reverse; */

}
.logo{
    border: rgb(126, 225, 6) 4px solid;
    border-radius: 6px;
    height: vh;
    width: 35vw;
    display:flex;
    margin-left: 17%;
    /* flex-direction:column-reverse; */
}

      /* section {
        margin: 2rem;
    }  */
    /* .descripción{
        flex: 1 1 auto;
        /* border: rgb(14, 86, 255) 4px solid; */
        /* background-color: #0000ff;
        border-radius: 6px;
        height: 10vh;
        width: 90vw;
        display:flex; */
        /* flex-direction:column; */
        /* justify-content: flex-end; */
        /* padding: 1px 2px;
        margin-right:4px ;
        margin-left: 50px;
        margin-top: 3%;
        font-size: large;
    } */ 
    h2 {
        border-bottom: 2px solid #333;
        padding-bottom: 0.5rem;
      }
     
       
            
           
    .Formulario{
        
            flex: 1 1 auto;
            border: rgba(10, 186, 230, 0.877) 4px solid;
            border-radius: 6px;
            /* background-color: rgb(28, 38, 221); */
            background: #0f62c8df; 
            height: 100vh;
            width: 100vw;
            display:flex;
            flex-direction:column;
            padding: 1px 2px;
            font-size: 14px;
            color:#ccc;
            font-family: Poppins;
	padding: 13px 29px;
  line-height: 17px;
  font-size: 14px;
	border-radius:0;
	outline:0;
        }

        form {
        border: rgb(36, 37, 40) 4px solid;
        border-radius: 6px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 2%;
        } 
         label {
        display: block;
        font-weight: bold;
        } 
         input {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 0.5rem;
          }
          button {
            background-color: #0000ff;
            color: #fff;
            border: none;
            border-radius: 20px;
            padding: 0.75rem 1rem;
            cursor: pointer;
            justify-content: center;
          }
          button:hover {
            background-color: #555;
          }
    .footer{
            border: rgb(225, 97, 6) 4px solid;
            border-radius: 6px;
            /* background-color: rgb(28, 38, 221); */
            background-color: black;
            height: 15%;
            width: 100%;
            display:flex;
            flex-direction:row;
            align-items: center;
            justify-content:space-evenly;
            font-family:Verdana;
            /* flex-direction:column-reverse; */
        
    }