*{  margin: 0;
    padding: 0;
    box-sizing: border-box; 
  
  }
.gridAreas{
    height: 100vh;
    display: grid;

    grid-template-areas: 
        'header header imagen'
        'contenido menuLateral menuLateral '
        'contenido menuLateral menuLateral'
        'footer footer footer';
}

.child_a {
    grid-area: header;
    height: 250%;
    background-color: rgb(178, 44, 18);
    color: white;
    font-size: x-large;
    text-align: center;
}
.imagen{
    grid-area: imagen;
    background-color: rgb(103, 44, 8);
    color: white;
    font-size: x-large;
    text-align: center;
}

.child_b { 
    grid-area: menuLateral; 
    
    background-color: orangered;
    color: white;
    font-size: x-large;
    text-align: center;
    height: 100%;
    display: grid;
    grid-template-areas: 'hijo1' 
                          'hijo2';
    grid-template-rows:270px 270px; /* Define el número de filas y su tamaño */
    grid-gap: 40px; /*Define el espacio entre las celdas*/
    /* padding-top: 2%; */

    
       
}
    .hijo1 {
        grid-area:hijo1;
        background-color: orangered;
        /* grid-row: auto; */
        border: 2px solid white;
        margin:25px;
        height: 107%;
    }
    .hijo2 {
        grid-area:hijo2;
        background-color: orangered;
        border-color: white;
        /* grid-row:auto ; */
        border: 2px solid white;
        margin:25px;
        height: 107%;
    }


.child_c { 
    grid-area: contenido; 

    background-color: rgb(239, 114, 55);
    color: white;
    font-size: x-large;
    text-align: center;
    height: 100%;
    display: grid;
    grid-template-areas: 'aside1'
                         'aside2';
    /* grid-template-rows:400px 400px; */
    grid-gap: 240px;
}
    .aside1{
        grid-area:aside1;
        background-color: white;
        /* grid-row:auto ; */
        color:orangered;
        height: 80%;
        margin:25px;
        

    }
    .aside2{
        grid-area:aside2;
        background-color: white;
        /* grid-row:auto ; */
        color:orangered;
        height: 80%;
        margin:25px;
        
    }


.child_d { 
    grid-area: footer; 
    height: 100%;
    background-color: rgb(103, 44, 8);
    color: white;
    font-size: x-large;
    text-align: center;
    
}